node_modules
dist
build
*.log
.env
.idea
.vscode
.DS_Store
Thumbs.db
*.iml
*.class
*.jar
target/
uploads/
.redis/
.rabbitmq/
*.db
*.sql
*.sqlite
*.h2.db
*.mv.db
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
*.ipr
*.iws
.idea/
.vscode/
*.swp
*.swo
*~
.dart_tool/
